.group__icon_pizza {
  background-image: url(../../../../img/piza-2.png);
  background-repeat: no-repeat;
  width: 791px;
  height: 759px;
  left: 55%;
  transform: translateX(-55%);
  bottom: -140px;
  object-fit: cover;
  object-position: bottom;
}
