.form__item-text {
  background: #fff;
  border-radius: 57px;
  border: 2px solid #eceef7;
  padding-left: 20px;
  font-family: inherit;
}

.form__item-text:focus {
outline: #FE5626;
outline-style: solid;
outline-width: 1px;
}

